nav {
    @include nav-styles($padding: 20px);

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }

    li {
        margin: 0 10px;
    }

    .search-container {
        display: flex;
        align-items: center;
    }


}

@each $name, $color in $tema {
    .nav-#{$name} {
        background-color: $color !important;
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        font-size: 15px;

        ul {
            flex-direction: column;
            width: 100%;
        }

        li {
            margin: 5px 0;
        }

        .search-container {
            width: 100%;
            margin-top: 10px;
        }
    }
}

@media (max-width: 480px) {
    nav {
        padding: 10px;

        ul {
            flex-direction: column;
            align-items: flex-start;
        }

        li {
            margin: 5px 0;
            width: 100%;
        }

        .search-container {
            width: 100%;
            margin-top: 10px;
        }
    }
}