// Estilos para los separadores
$separator-color: #ccc; // Color por defecto para los separadores
$separator-thickness: 2px; // Grosor del separador
$separator-margin: 20px 0; // Margen por defecto para los separadores

.separator {
    display: block;
    width: 100%;
    height: $separator-thickness;
    background-color: $separator-color;
    margin: $separator-margin;
}

.separator-dashed {
    display: block;
    width: 100%;
    height: $separator-thickness;
    background: repeating-linear-gradient(90deg, $separator-color, $separator-color 5px, transparent 5px, transparent 10px);
    margin: $separator-margin;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .separator,
    .separator-dashed {
        height: 1px;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .separator,
    .separator-dashed {
        height: 0.5px; 
        margin: 5px 0;
    }
}