$primary: #3498db;
$secondary: #2ecc71;
$tertiary: #504f4f;
$quaternary: #e74c3c;
$quinary: #95a5a6;
$danger: #e74c3c;
$light: #9f9b9b;
$dark: #2c3e50;

$tamaños: (
    small: 10px,
    medium: 20px,
    big: 30px,
);
$tema: (
    primary: $primary,
    secondary: $secondary,
    tertiary: $tertiary,
    quaternary: $quaternary,
    quinary: $quinary,
    danger: $danger,
    light: $light,
    dark: $dark
);

// Tipografía
$font-family: 'Arial, sans-serif';
$font-size-base: 16px;

$breakpoints: (
    "small": 576px,
    "medium": 768px,
    "large": 992px,
);

// Espaciado
$spacing-unit: 8px;

/* Generamos el codigo css del body */
body {
    background-color: $primary;
    color: $secondary;
}