$spacing-unit: 16px;
$light: #f4f4f4;

.card {
    // Aplicamos el mixin de estilo base para las cards
    @include card-base;

    @each $name, $color in $tema {
        .card-header-#{$name} {
            background-color: $color;
            color: $light;
            padding: $spacing-unit;
            font-weight: bold;
            font-size: 1.25rem;
            width: 100%;
            
        }
    }

    // Estilo para el cuerpo de la card
    .card-body {
        padding: $spacing-unit * 2;
        font-size: 1rem;
        color: #333;
    }

    // Estilo para la card al pasar el mouse (hover)
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
}