/*Definimos el conatiner */
.container {
    width: 80%;
    margin: 0 auto;
    background-color: aquamarine;

    @media (max-width: 1200px) {
        width: 90%;
    }

    @media (max-width: 768px) {
        width: 95%;
    }

    @media (max-width: 480px) {
        width: 100%;
    }
}

.Seccion {
    @include flex-container(space-between, center, row);
}

.seccion2 {
    @include flex-container(space-between, center, column);
    margin-top: 20px;
    width: 70%;
}

h1 {
    font-size: 30px;
    padding-left: 20px;
}