.footer {
    padding: $spacing-unit * 2;
    text-align: center;
    background: $quaternary;
    margin-top: 20px;
    position: relative;

    h1 {
        font-size: 30px;
    }

    // Usando el mixin para hacer que .footer sea un contenedor flex
    @include flex-container($justify: center, $align: center, $direction: row);
}

// Bucle para aplicar colores de fondo dinámicos desde el mapa $tema
@each $name, $color in $tema {
    .footer-#{$name} {
        background-color: $color;
        color: white;
        margin: 10px;

        // Usando el mixin dentro de las clases generadas por el bucle
        @include flex-container($justify: center, $align: center, $direction: row);
    }
}