.header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background: $quaternary;
    width: 100%;
    margin: 0 auto;

    h1 {
        font-size: 30px;
    }
}