// Definimos los colores de los spinners


// Estilos para los spinners
.spinners {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    margin: auto;

    // Generamos cada spinner con los colores definidos
    @each $name, $color in $tema {
        .spinner-#{$name} {
            width: 50px;
            height: 50px;
            margin-left: 10px;
            margin-right: 10px;
            border: 5px solid $light;
            border-top: 5px solid $color;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }
    }
}

// Animación de rotación para los spinners
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}