.tabs {
    display: flex;
    border-bottom: 2px solid $light;

    .tab {
        flex: 1;
        text-align: center;
        padding: $spacing-unit;
        cursor: pointer;
        background-color: $light;
        transition: background-color 0.3s ease; // Transición suave en hover

        &:hover {
            background-color: lighten($primary, 40%); // Colores más claros al pasar el mouse
        }

        &--active {
            background-color: $primary;
            color: $light;
            border-bottom: 2px solid $primary; // Resalta el tab activo con un borde
        }
    }
}

// Estilos para el contenido de los Tabs
.tab-content {
    display: none; // Los contenidos de los tabs están ocultos por defecto
}

.tab-content--active {
    display: block; // Solo el contenido del tab activo se muestra
}